.scrollbar
{
  overflow-x: hidden;
}

#style-8::-webkit-scrollbar-track
{
  border: 1px solid white;

}

#style-8::-webkit-scrollbar
{
  width: 10px;
}

#style-8::-webkit-scrollbar-thumb
{
  background-color: #FFFFFF;  
}


.btn {
	border-radius: 0px;
}

.btn-lg, .btn-group-lg > .btn {
  border-radius: 0;
}

.btn-sm, .btn-group-sm > .btn {
 	border-radius: 0;
}

.leaflet-bar {
	border-radius: 0px;
	}
.leaflet-control-layers {
	border-radius: 0px;
	}

.leaflet-popup-content-wrapper {
	border-radius: 0px;
	}

.leaflet-tooltip {
	border-radius: 0px;
	}

.form-control {
  border-radius: 0;
}

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
  border-radius: 0;
}

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
  border-radius: 0;
}

.valid-tooltip {
  border-radius: 0;
}

.invalid-tooltip {
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0;
}

.input-group-text {
  border-radius: 0;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-radio .custom-control-label::before {
  border-radius: 0;
}

.custom-select {
  border-radius: 0;
}

.custom-file-label {
  border-radius: 0;
}

.custom-file-label::after {
  border-radius: 0 0 0 0;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.navbar-toggler {
  border-radius: 0;
}

.card {
  border-radius: 0;
}

.jumbotron {
  border-radius: 0;
}

.tooltip-inner {
  border-radius: 0;
}